.desktop-app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.displayHolder, .cardHolder {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.displayHolder, .cardHolder {
    padding: 3rem;
}

.cardHolder {
    overflow-y: scroll;
}